<template>
  <div class="home">

    <v-container class="pa-4 text-center">
      <v-row class="fill-height" align="center" justify="center">
        <template v-for="(app, i) in apps">
          <v-col
            :key="i"
            cols="12"
            md="4"
          >
              <OpcionHome :app="app"></OpcionHome>
          </v-col>
        </template>
      </v-row>
    </v-container>
    
  </div>
</template>

<script>

import OpcionHome from "@/components/OpcionHome.vue";

export default {
  name: 'home',
  components: {
    OpcionHome
  },

  data(){
    return {
      apps : [
        //{
        //  nombre: 'Nuevo Presupuestos',
        //  descripcion: 'Realice la cotizacion de un viaje, generando el presupuesto.',
        //  icono: 'fa-route',
        //  url: 'presupuestos'
        //},

        {
          nombre: 'Subastador',
          descripcion: 'Verifique que movil de los que se reportan al viaje esta mas cerca al cliente, y asigne dicho viaje...',
          icono: 'fa-pager',
          url: 'subastador'
        },

        {
          nombre: 'Moviles',
          descripcion: 'Administracion de Moviles / Choferes',
          icono: 'fa-taxi',
          url: 'presupuestos'
        }
      ]
    }
    
  },


}
</script>

<style scoped>
.v-card {
  transition: opacity .4s ease-in-out;
}

.v-card:not(.on-hover) {
  opacity: 0.6;
 }

.show-btns {
  color: rgba(255, 255, 255, 1) !important;
}
</style>
