<template>
<div>
<h3 class="mt-0 text-center text-muted font-italic">SUBASTAR VIAJE <i class="fas ml-2 fa-pager "></i></h3>
<div class="row grow w-100">
    <div class="col-4 py-3">

      <el-form ref="form" :model="formOrigen" class="ml-1 mr-1">
          
          <el-form-item>
            <el-input v-model="formOrigen.origen" placeholder="Direccion de Origen del viaje..."></el-input>
          </el-form-item>

          <el-form-item>
            
             <v-btn block color="secondary" @click="onSubmitOrigen()">GUARDAR DESTINO VIAJE</v-btn>
             
          </el-form-item>

      </el-form>

      <el-form ref="form" :model="form" class="ml-1 mr-1">
          
          <el-form-item>
            <el-input v-model="form.disco" placeholder="Disco del Movil">
              <el-button slot="append" icon="el-icon-location-information"></el-button>
            </el-input>
            
            
          </el-form-item>

          <el-form-item> 
            <el-input v-model="form.ubicacion_disco" placeholder="Ubicacion del movil">
              <el-button slot="append" icon="el-icon-location-information"></el-button>
            </el-input>
          </el-form-item>
          
          <el-form-item>
            
             <v-btn block color="accent" @click="onSubmitMovil( form )">AGREGAR MOVIL</v-btn>
             
          </el-form-item>

        </el-form>
       
    </div>
    <div v-if="movilesArr.length > 0" class="main col-8 h-100 py-3">
        <TablaMoviles :origen="origenViaje" :moviles="movilesArr"></TablaMoviles>
    </div>
</div>

</div>
</template>


<script>
import { mapActions, mapMutations, mapState } from "vuex"
import TablaMoviles from "@/components/TablaMoviles.vue"

export default {
    
    name: 'Subastador',

     components: {
      TablaMoviles
    },

    data() {
      return {

        // Form para buscar el Origen
        formOrigen: {
          origen: ''
        },

        // Defino el objeto form
        form: {
          disco: '',
          ubicacion_disco: '',
            
        },

        movilesArr: [],

        origenViaje: ''

          
    }

    },

    methods: {

      onSubmitOrigen(){
        this.origenViaje = this.formOrigen.origen;
        console.log(this.origenViaje);
      },

      onSubmitMovil( movil ) {
        console.log(movil);

        const m = {
           "licitacion": {
                "taxiId": movil.disco,
                "posicion": movil.ubicacion_disco //"Avenida 13 & Calle 32, Tolosa, Buenos Aires, Buenos Aires Province"
            }
        }
        
        this.movilesArr.push( m )
        
        this.form = {
          disco: '',
          ubicacion_disco: '',
            
        };

        this.$vToastify.setSettings({
                    successDuration: 900,
                    defaultTitle: false
                });
        this.$vToastify.success("Movil reportado para subasta de viaje", "Listo !");
        

      }
    }
}
</script>

<style>

</style>