<template>
  <div>
      <v-navigation-drawer
      v-model="drawer"
      app
    >
      <v-list dense>
        <v-list-item @click="navegar( op.url )" link v-for="(op, index) of opciones" :key="index">
          <v-list-item-action>
            <v-icon> {{ op.icon }} </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> {{ op.title }} </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
       
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>App</v-toolbar-title>
    </v-app-bar>


  </div>

  
</template>

<script>
export default {
    name: 'NavBar',
    data: () => {

      return {

        drawer: false,
        opciones: [
          { title: 'Inicio', icon: 'fa-home', url: '/' },
          //{ title: 'Taxis', icon: 'fa-taxi', url: '' },
          //{ title: 'Clientes', icon: 'fa-users', url: '' },
          //{ title: 'Viajes', icon: 'fa-road', url: '' },
          { title: 'Presupuestos', icon: 'fa-route', url: 'presupuestos' },
          { title: 'Subastador', icon: 'fa-pager', url: 'subastador' }
        ]
      }
    },
    methods: {
      navegar( ruta ){
        this.$router.push( ruta );
      }  
    }
}
</script>

<style>

</style>