<template>
  
  <div class="text-center mt-5 mb-5 contenedor hvr-grow">
      
      <router-link :to="{name: app.url}" class="mt-1 mb-3 color-app">
        <i class="fas fa-10x mt-1 mb-4" :class="app.icono"></i>
        <h3> {{app.nombre}} </h3>
        <p class="text-muted font-italic">{{app.descripcion}}</p>
      </router-link>
      
  </div>
  
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: 'opcion',
    props: ['app'],
    methods: {
      


    }
}
</script>

<style>

.color-app {
  color: #42b983;
}

a {
  text-decoration: none !important;
}

</style>