<template>
  <div>
  <div class="tabla-moviles">
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Disco</th>
          <th class="text-center" scope="col">Ubicacion</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(m, index) in moviles" :key="m.taxiId">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ m.licitacion.taxiId }}</td>
          <td>{{ m.licitacion.posicion }}</td>
          <td class="text-center">
            <v-btn small color="error" @click="eliminarMovilArr(index)"> <i class="fas mr-1 fa-trash "></i> ELIMINAR</v-btn>
          </td>
        </tr>
      </tbody>
    </table>
    <v-btn block color="llamadaApi" @click="cotizar()"> <i class="fas mr-1 fa-send "></i> ASIGNAR </v-btn>
  </div>
  
  </div>
</template>

<script>
import axios from "axios"

export default {
  props: ["moviles", "origen"],

  methods: {
      async cotizar(){
        this.$vToastify.loader("Cotizando Viaje Aguarde Por Favor")
          let data = {
          'data': this.moviles,
          'destinos': this.origen
        }

        const respuesta = await axios.post('http://localhost:3000/viajes/v1/licitaciones', data)
            .then( resp => {
                this.$vToastify.stopLoader();
                
                 this.$swal.fire({
                    icon: 'success',
                    title: 'Ok !',
                    text: 'Cotizacion realizada exitosamente',
                })


            }).catch( error => {
                this.$vToastify.stopLoader();

                this.$swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error.response.data.message,
                })

            })
        },

        eliminarMovilArr(index) {
            this.moviles.splice(index,1);
        }
      
  }

};
</script>

<style>
    .tabla-moviles{
        max-width: 95% !important;
    }

</style>
