<template>
  <v-app>
    <NavBar></NavBar>
    <v-content>
      <div class="container">
        <v-alert
          color="success"
          dark
          icon="fa-user"
          border="left"
          dismissible
          dense
          prominent>
            Bienvenido a esta nueva APP de Ejemplo: Estamos usando: Vuetify + VueBootstrap + Font Awesome + VueToastify
        </v-alert>

        
      </div>

      <div>
        <router-view class="mt-2"></router-view>
      </div>

    </v-content>
  </v-app>
</template>

<script>
  import  NavBar  from "./components/NavBar.vue";
  

export default {
  name: 'App',

  components: {
    NavBar
  },

  mounted () {
    
  },
  
  data: () => ({
    //
  }),
};
</script>
